/* Estilos especificos solo para el CATALOG */

/* HEADER */

#header-catalog {
    position: relative;
    display: block;

    background-color: #000000;
    padding: 0 2rem;

    min-height: 22vh;
    width: 100vw;
    overflow: hidden;
}

/* Titulos de la página */

#title-catalog {
    color: #FFFFFF;
    font-size: 5rem;
    font-weight: 800;
}

#red-font-catalog {
    color: #DD0000;
}

#txt-subtitle-catalog {
    color: #FFFFFF;
    font-size: 2rem;
    margin-top: -3rem;
}

/* MAIN */

#main-catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 3rem;

    background-color: #000000;
    border-bottom: 2px solid #DD0000;
    height: auto;
    width: 100%;
    overflow: hidden;
}

/* Formulario de busqueda */

#form-collect {
    display: flex;
    gap: 1rem;
    grid-column: span 4;
    flex-direction: row-reverse;

    align-items: center;
    
    height: 10vh;
    width: auto;
}

.search-filter {
    font-size: 1.5vh;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #FFFFFF;

    height: 2rem;
    width: 15rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Categorias de la página de colecciones */

#catg-pag-collect {
    grid-row: span 4;
    justify-self: start;
    width: 18rem;
    height: 22rem;
}

/* Título de la página de categorías */

#cont-title-catg {
    display: flex;
    align-items: center;
}

#icon-catg {
    height: 2.5rem;
    width: auto;
}

#title-catg {
    font-size: 2rem;
    color: #FFFFFF;
}

/* Botones categorías */

#opt-catg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    margin-left: 1.3rem;
}

.catg-collect {
    font-size: 1.5rem;
    font-weight: 500;
    color: #6D6D6D;

    background-color: #000000;
    border: none;
    border-left: 3px solid #6D6D6D;

    width: fit-content;
    padding-right: 1rem;
    padding-left: 1rem;
}

.catg-collect:hover {
    background: #0f0000d4;
    color: #FFFFFF;
    border-left: 3px solid #DD0000;
}

.catg-collect.active {
    background: #0f0000d4;
    color: #FFFFFF;
    border-left: 3px solid #DD0000;
}

/* Productos de la pagina de colecciones */

.cards-pag-collect {
    display: flex;
    position: relative;

    background-color: #6D6D6D;
    width: 31rem;
    height: 36rem;

    overflow: hidden;
    z-index: 0;
}

.img-card-collect {
    position: absolute;
    inset: 0;

    background-color: rgb(170, 170, 170);
    background-size: cover;
    background-position: center;

    transition: transform 0.4s ease;
    z-index: 1;
}

.body-card {
    display: grid;
    position: relative;
    
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: auto;
    justify-self: start;

    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.btn-add-collect {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: 1;
    border: none;
    background-color: #DD0000;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 500;

    height: 3rem;
    width: 8.5rem;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.btn-add-collect:hover {
    transform: scale(0.92);
}

.cart-add-collect {
    height: 2rem;
    width: auto;
}

.info-card-collect {
    display: grid;
    align-self: end;
    grid-row: 2;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-self: start;

    padding-left: 1rem;
    padding-right: 1rem;
    height: 50%;
    width: 100%;
    background-color: #1B1B1B;
    overflow: hidden;
}

.name-prod-collect {
    grid-column: span 2;
    color: #FFFFFF;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.price-prod-collect {
    grid-column: 1;
    grid-row: 2;

    color: #DD0000;
    font-size: 1.5rem;
    font-weight: 700;

    margin-top: -1rem;
}

.crossed-out-price {
    grid-column: 2;
    grid-row: 3;

    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
    text-decoration: line-through;

    margin-top: -1rem;
}

/* Oraganización del grid */

#card-1 {
    grid-column: 2;
    grid-row: 2;
}

#card-2 {
    grid-column: 3;
    grid-row: 2;
}

#card-3 {
    grid-column: 4;
    grid-row: 2;
}

#card-4 {
    grid-column: 2;
    grid-row: 3;
}

#card-5 {
    grid-column: 3;
    grid-row: 3;
}

#card-6 {
    grid-column: 4;
    grid-row: 3;
}

#card-7 {
    grid-column: 2;
    grid-row: 4;
}

#card-8 {
    grid-column: 3;
    grid-row: 4;
}

#card-9 {
    grid-column: 4;
    grid-row: 4;
}



