/* Estilos solo para HOME o INDEX */

/* HEADER INDEX */

/* Contenedor header */

#header-index {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 95vh;

    color: #FFFFFF;
    overflow: hidden;
}

/* Métricas header*/

#sup-header-index {
    display: flex;
    justify-content: flex-end;
    padding: 4rem 3rem;
    margin-top: -30px;
    margin-bottom: auto;

    gap: 3rem;
    z-index: 2;
    color: #FFFFFF;
}

.info1-header-index {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
    line-height: 0.7;
}

.sp-header-index {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Cuerpo bot header */

#bot-header-index {
    max-width: 100vw;
    max-height: 100vh;
    padding: 4rem 3rem;
    margin-top: -15rem;
    z-index: 2;
}

#etq-nueva-coleccion {
    display: inline-block;

    color: #DD0000;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;

    width: 28rem;
    height: auto;
    padding: 0.4rem 0.8rem;

    background-color: #210000;
    border: 2px solid #DD0000;
}

/* Titular header */

#titular-header-index h1 {
    font-size: 10rem;
    line-height: 1.1;
    margin: 0 0 0.1rem 0;
}

#titular-header-index p {
    font-size: 2.5rem;
    line-height: 1.6;
    opacity: 0.8;
    margin: 0;
}

/* Botones */

#btns-header-index {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

#btn-explorar-coleccion,
#btn-ver-ofertas {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;

    padding: 0.8rem 1.6rem;
}

#btn-explorar-coleccion {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    background-color: #DD0000;
}

#btn-explorar-coleccion .flecha-simbolo {
    display: inline-block;
    transition: transform 0.3s ease;
}

#btn-explorar-coleccion:hover .flecha-simbolo {
    transform: translateX(6px);
}

#btn-ver-ofertas {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #000000;
}

#btn-ver-ofertas:hover {
    color: #000000;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

/* Fondo header */

#fondo-inicio {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    z-index: 0;
}

/* MAIN INDEX */

/* Contenedor main */

#main-index {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #FFFFFF;
    overflow: hidden;
}

/* Titulos de cada sección del main */

.subtitle-sect {
    color: #DD0000;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    line-height: 0.1rem;
}

.titulo-sect {
    color: #FFFFFF;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.red-font {
    color: #DD0000;
}

/* SECCIOÓN DESTACADO */

#sect-destacado {
    min-height: 140vh;
    color: #FFFFFF;
    background-color: #000000;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;

    column-gap: 1.2rem;
    row-gap: 1.2rem;

    padding: 1rem 8rem;
    overflow: hidden;
}

/* Titulo de la sección */

#subtitle-dest,
#titulo-dest {
    grid-column: 1 / -1;
    line-height: 5rem;
    margin-bottom: 0;
}

#titulo-dest {
    margin-bottom: 2rem;
}

/* Grid de fotos */

#dest-foto-1 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease;
    clip-path: inset(4rem 0 0 0);
}

#dest-foto-2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease;
    clip-path: inset(0 3.5rem 0 0);
}

#dest-foto-3 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    overflow: hidden;
    position: relative;
    transition: transform 0.4s ease;
}

#dest-foto-1:hover,
#dest-foto-2:hover,
#dest-foto-3:hover {
    transform: scale(0.92);
}

/* Contenedor de imagen API -> JS sección destacados*/

.producto-dest {
    position: absolute;
    inset: 0;

    background-color: rgb(170, 170, 170);
    background-size: cover;
    background-position: center;
}

/* Textos flotantes */

#txt-dest-foto1,
#txt-dest-foto2,
#txt-dest-foto3 {
    position: relative;
    margin: 0;

    color: #FFFFFF;
    font-size: 4rem;
}

#txt-dest-foto1 {
    transform: rotate(-90deg);
    transform-origin: left bottom;
    bottom: 6rem;
    left: 0.5rem;
}

#txt-dest-foto2 {
    transform: rotate(90deg);
    transform-origin: left bottom;
    bottom: 58.4rem;
    left: 47rem;
}

#txt-dest-foto3 {
    /* transform: rotate(0deg); */
    transform-origin: left bottom;
    bottom: 7.7rem;
    left: 74.5rem;
}

/* Etiquetas sección destacados */
#dest-foto-1 h2 {
    width: 10.5rem;
    height: 3rem;

    position: absolute;
    top: 2.5rem;
    left: 0;

    background-color: #DD0000;
    color: #FFFFFF;
    text-align: left;

    padding: 0.5rem 0.5rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    z-index: 1;
}

#dest-foto-3 h2 {
    width: 7.6rem;
    height: 3rem;

    position: absolute;
    top: -1.5rem;
    left: 0;

    background-color: #DD0000;
    color: #FFFFFF;
    text-align: left;

    padding: 0.5rem 0.5rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    z-index: 2;
}









