/* NAV */

/* Estilos para los NAV en desktop */

.main-nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 1.2rem 3rem;

    background-color: #000000;
    border-bottom: 3px solid #DD0000;
}

.logo-nav {
    height: 42px;
    width: auto;
    display: block;
}

.menu-principal {
    display: flex;
    gap: 1.7rem;

    list-style: none;
    margin: 0;
    padding: 0;
}

.contenedor-menu a {
    text-decoration: none;
    color: #FFFFFF;

    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;

    transition: opacity 0.2s ease;
}

.contenedor-menu a:hover {
    opacity: 0.7;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

#user-icon {
    height: 30px;
    width: auto;
    cursor: pointer;
}

#carrito-icon {
    height: 36px;
    width: auto;
    cursor: pointer;
}

.nav-responsive {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-responsive span {
    width: 20px;
    height: 3px;
    background-color: #FFFFFF;
}

.menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 998;
}

/* Responsive para los NAV */

@media (max-width: 1024px) {

    .main-nav {
        padding: 1rem 1rem;
    }

    .nav-responsive {
        display: flex;
    }

    .menu-principal {
        position: fixed;
        top: 0;
        right: 0;

        width: 50vw;
        height: 100vh;

        background-color: #000000e6;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        transform: translateX(100%);
        transition: transform 0.3s ease;

        z-index: 999;
    }

    .menu-principal.activo {
        transform: translateX(0);
    }

    .menu-overlay.activo {
        opacity: 1;
        pointer-events: all;
    }
}

/* Estilos para los FOOTER */



