/* NAV */

/* Estilos para los NAV en desktop */

.main-nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 1.2rem 3rem;

    background-color: #000000;
    border-bottom: 3px solid #DD0000;
}

.logo-nav {
    height: 42px;
    width: auto;
    display: block;
}

.menu-principal {
    display: flex;
    gap: 1.7rem;

    list-style: none;
    margin: 0;
    padding: 0;
}

.contenedor-menu a {
    text-decoration: none;
    color: #FFFFFF;

    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;

    transition: opacity 0.2s ease;
}

.contenedor-menu a:hover {
    opacity: 0.7;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

#user-icon {
    height: 30px;
    width: auto;
    cursor: pointer;
}

#carrito-icon {
    height: 36px;
    width: auto;
    cursor: pointer;
}

.nav-responsive {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-responsive span {
    width: 20px;
    height: 3px;
    background-color: #FFFFFF;
}

.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;

    width: 100vw;
    height: 100svh;

    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
    z-index: 998;
}

/* Responsive para los NAV */

@media (max-width: 1024px) {

    .main-nav {
        padding: 1rem 1rem;
    }

    .nav-responsive {
        display: flex;
    }

    .menu-principal {
        position: fixed;
        top: 0;
        right: 0;

        width: 50vw;
        height: 100svh;

        background-color: #000000;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        transform: translateX(100%);
        transition: transform 0.3s ease;

        z-index: 999;
    }

    .menu-principal.active {
        transform: translateX(0);
    }

    .menu-overlay.active {
        opacity: 1;
        pointer-events: all;
    }
}

/* FOOTER */

/* Estilos para los FOOTER */

.main-footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    
    width: 100%;
    height: 31vh;

    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
    overflow: hidden;
}

/* Contenedores */

.info-redes {
    display: flex;
    position: absolute;
    flex-direction: column;

    top: 51%;
    left: 15%;
    transform: translate( -50%, -50%);
}

.tienda {
    display: flex;
    position: absolute;
    flex-direction: column;

    top: 44%;
    right: 50%;
    transform: translate( -50%, -50%);
}

/* Información footer */

.informacion {
    display: flex;
    position: absolute;
    flex-direction: column;

    top: 44%;
    right: 26%;
    transform: translate( -50%, -50%);
}

/* Ayuda footer */

.ayuda {
    display: flex;
    position: absolute;
    flex-direction: column;

    top: 49%;
    right: 1%;
    transform: translate( -50%, -50%);
}

/* Textos del footer */

.subtitles-sect-footer {
    font-size: 1.6rem;
    margin-bottom: -0.5rem;
}

.txt-sect-footer {
    font-size: 1.2rem;
    line-height: 2rem;
}

.txt-main-footer {
    font-size: 1.2rem;
}

/*  Logo e iconos redes */

.logo-footer {
    height: 90px;
    width: auto;
}

/* Contenedor del link a redes sociales */

.facebook-icon,
.instagram-icon,
.tiktok-icon,
.youtube-icon {
    height: 2rem;
    width: auto;
    margin-right: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btns-redes-footer {
    display: flex;
    gap: 1.5rem;
}

.link-redes {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;

    height: 4rem;
    width: 4rem;

    overflow: hidden;
    border: 1px solid #FFFFFF;
}

.link-redes:hover {
    background-color: #DD0000;
    border: 1px solid #DD0000;
}

/* Sub-sección footer / copyright */

.copyright-sect-footer {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    
    width: 100%;
    height: 6vh;
    padding: 1rem 1rem;

    background-color: #000000;
    overflow: hidden;
}

.copyright-txt {
    display: flex;
    position: absolute;
    font-size: 1.2rem;
    
    color: #FFFFFF;
    top: 51%;
    left: 20%;
    transform: translate( -50%, -50%);
}

/* Links sub-sección footer */

.link-sect-footer {
    color: inherit;
}

.condiciones-politicas {
    display: flex;
    position: absolute;
    gap: 1rem;
    font-size: 1.2rem;
    
    color: #FFFFFF;
    top: 51%;
    right: -4.2%;
    transform: translate( -50%, -50%);
}